<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
		<variable name="logDir"
				value="${baseDir}..\..\Tools\Logs" />
		<variable name="logLayout" value="DateTime=[${date:universalTime=true:format=yyyy-MM-dd (hh\:mm\:ss.fff)}] LogLevel=${level:uppercase=true} Logger=${logger:shortName=true} RequestId={${event-properties:item=RequestId:uppercase=true}} : ${message:withException=true}" />
		<variable name="fileExtension" value="log" />
		<variable name="logFileName" value="${environment:variable=APP_POOL_ID}" />
		<variable name="logFilePath" value="${logDir}\${logFileName}.${fileExtension}" />
		<variable name="archiveFileName" value="${logFileName}__{##}" />
		<variable name="archiveFilePath" value="${logDir}\Archive\${archiveFileName}.${fileExtension}" />
		<variable name="eventSource" value="PMADataService.Service" />

		<targets>
			<target xsi:type="Debugger"
					name="DebuggerTarget"
					Layout="${logLayout}" />
			<target xsi:type="File"
					name="FileTarget"
					fileName="${logFilePath}"
					Layout="${logLayout}"
					autoFlush="true"
					maxArchiveFiles="7"
					archiveFileName="${archiveFilePath}"
					archiveNumbering="Rolling"
					archiveEvery="Day" />
			<target xsi:type="EventLog"
					name="EventLogTarget"
					source="${eventSource}"
					log="${eventSource}"
					Layout="${logLayout}" />
		</targets>
		<rules>
			<logger name="*"
					minlevel="Trace"
					writeTo="FileTarget" />
		</rules>
	</nlog>
</configuration>