<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
	 see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <variable name="logDir" value="{{envLogDirectory}}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
    <variable name="eventSource" value="{{envEventSource}}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
    <targets>
      <target name="DebuggerTarget"
					xdt:Transform="Remove"
					xdt:Locator="Match(name)" />
      <target xsi:type="EventLog"
					name="EventLogTarget"
					log="{{envLogSource}}"
					xdt:Transform="SetAttributes(log)" xdt:Locator="Match(name)" />
    </targets>
    <rules xdt:Transform="Replace">
      <!-- Log levels (descending order): Off, Fatal, Error, Warn, Info, Debug, Trace -->
      <logger name="*" minlevel="{{envNLog_LogLevel}}" enabled="{{envNLog_FileLogEnabled}}" writeTo="FileTarget" />
      <logger name="*" minlevel="{{envNLog_LogLevel}}" enabled="{{envNLog_EventLogEnabled}}" writeTo="EventLogTarget" />
    </rules>
  </nlog>
</configuration>